:root {
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);

    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
}

.my-balance {
    color: white;
    background-color: var(--soft-red);
    padding: 2px 15px 2px 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 40vw; */
}

.spending {
    background-color: var(--very-pale-orange);
    border-radius: 15px;
    padding: 2px 15px 2px 15px;
    margin-top: 20px;
}

hr {
    border-top: 1px solid var(--medium-brown);
}

.graph {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.data p {
    color: var(--medium-brown);
    font-size: small;
    margin-top: -1px;
}

.rect {
    width: 40px;
    border-radius: 5px;
}

#rect1 {
    height: 50px;
    background-color: var(--soft-red);
}

#rect2 {
    height: 100px;
    background-color: var(--soft-red);
}
#rect3 {
    height: 140px;
    background-color: var(--cyan);
}
#rect4 {
    height: 85px;
    background-color: var(--soft-red);
}
#rect5 {
    height: 70px;
    background-color: var(--soft-red);
}
#rect6 {
    height: 115px;
    background-color: var(--soft-red);
}
#rect7 {
    height: 70px;
    background-color: var(--soft-red);
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 15px 0px 15px;
}

.total p {
    color: var(--medium-brown);
    font-size: small;
}

.total p strong {
    color: black;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 25px;
}

.right p {
    margin-bottom: -10px;
}

.left p {
    margin-bottom: -23px;
}

@media screen and (max-width: 1700px) {
    .my-balance {
        width: 90vw;
    }

    .spending {
        width: 300px;
      }
    
      .graph {
        width: 250px;
        justify-content: center;
        margin-left: 25px;
      }
    
      .rect {
        width: 30px;
        border-radius: 5px;
        margin: -3px;
      }
    
      #rect1 {
        height: 50px;
        background-color: var(--soft-red);
    }
    
      #rect2 {
          height: 100px;
          background-color: var(--soft-red);
      }
      #rect3 {
          height: 140px;
          background-color: var(--cyan);
      }
      #rect4 {
          height: 85px;
          background-color: var(--soft-red);
      }
      #rect5 {
          height: 70px;
          background-color: var(--soft-red);
      }
      #rect6 {
          height: 115px;
          background-color: var(--soft-red);
      }
      #rect7 {
          height: 70px;
          background-color: var(--soft-red);
      }

      .spending {
        width: 90vw;
      }
      .graph {
        width: 70vw;
      }
}
